node_modules/
mobile/node_modules/
backend/node_modules/
dist/
.DS_Store
# api/.dockerignore

__pycache__
*.pyc
*.pyo
*.pyd
.env
.env.*
.git
.gitignore
node_modules
tests
*.log
Dockerfile*
docker-compose*
